.dashboard-sidenav-1 {
  height: 100%;
}

.dashboard-drawer-1 {
  width: 20%;
  background-color: var(--background-color) !important;
  border: none;
}

.dashboard-toggle-1 {
  display: none;
}

.dashboard-toolbar-1 {
  height: auto;
  width: 99%;
  margin-top: 15px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .dashboard-toggle-1 {
    display: flex;
  }
  .dashboard-drawer-1 {
    width: 80%;
  }
}
