.dashboard-sidenav-1 {
  height: 100%;
}

.dashboard-drawer-1 {
  background-color: var(--background-color) !important;
  border: none;
  width: 16.2vw;
}

.dashboard-toggle-1 {
  display: none;
}

.dashboard-toolbar-1 {
  height: auto;
  width: 98%;
  margin-top: 15px;
  display: flex;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .dashboard-toggle-1 {
    display: flex;
  }
  .dashboard-drawer-1 {
    width: 80%;
  }
}
