.search-input-1 {
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
}

.search-container-1 {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .search-container-1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .search-input-1 {
    width: 80%;
  }
}
