.profile-sidenav-1 {
    height: 100%;
}

.profile-drawer-1 {
    background-color: var(--background-color) !important;
    border: none;
    width: 220px;
}

.profile-toggle-1 {
    display: none;
}

.profile-toolbar-1 {
    height: 6vh;
    width: 83vw;
    margin-top: 15px;
    display: flex;
    margin-left: 30px;
}

@media only screen and (max-width: 768px) {
    .profile-toggle-1 {
    display: flex;
    }
    .profile-drawer-1 {
    width: 80%;
    }

    .profile-toolbar-1 {
    height: 15vh;
    }
}
