<div class="change-password-dialog-container-1">
    <h2 class="change-password-dialog-title-1" mat-dialog-title>Hola {{data.user.nombres? data.user.nombres.trim() : null}} {{data.user.apellidos? data.user.apellidos.trim() : null}}</h2>
  <mat-dialog-content>
    <p class="change-password-dialog-text-1">Este es su {{data.notification == 1? 'primer' : data.notification == 2? 'segundo' : 'tercer'}} aviso de reinicio de contraseña. {{data.notification != 3? '¿Desea cambiarla?' : 'DEBE CAMBIARLA OBLIGATORIAMENTE.'}}</p>
    <form class="change-password-dialog-form-container-1" [formGroup]="claveFormGroup">
      <div class="change-password-dialog-form-field-1">
          <p>NOTA: Verifique que su correo electrónico sea el que usa comunmente, ya que los reestablecimientos de contraseña o comunicaciones serán por ese email.</p>
          <p>La contraseña debe comprender por lo menos 8 caracteres, una minúscula, una mayúscula, un caracter de estos: .$&#64;$!%*?&,</p>
          <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Introduzca su email" required>
              @if(claveFormGroup.get('email')?.errors?.['required']) {
                  <mat-error class="change-password-dialog-error-1">Campo requerido.</mat-error>
              }
              @if(claveFormGroup.get('email')?.errors?.['pattern']) {
                  <mat-error class="change-password-dialog-error-1">Email invalido.</mat-error>
              }
          </mat-form-field>
      </div>
      <div class="change-password-dialog-form-field-1">
          <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput formControlName="clave" placeholder="Introduzca su contraseña">
              <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              @if(claveFormGroup.get('clave')?.errors?.['required']) {
                  <mat-error class="change-password-dialog-error-1">Campo requerido.</mat-error>
              }
              @if(claveFormGroup.get('clave')?.errors?.['lowercase']) {
                <mat-error class="change-password-dialog-error-1">Al menos una minúscula.</mat-error>
              }
              @if(claveFormGroup.get('clave')?.errors?.['uppercase']) {
                <mat-error class="change-password-dialog-error-1">Al menos una mayúscula.</mat-error>
              }
              @if(claveFormGroup.get('clave')?.errors?.['digit']) {
                <mat-error class="change-password-dialog-error-1">Al menos un número.</mat-error>
              }
              @if(claveFormGroup.get('clave')?.errors?.['special']) {
                <mat-error class="change-password-dialog-error-1">Un caracter de $&#64;$!%*?&,.</mat-error>
              }
              @if(claveFormGroup.get('clave')?.errors?.['minlength']) {
                  <mat-error class="change-password-dialog-error-1">Mínimo 8 caracteres.</mat-error>
              }
          </mat-form-field>
      </div>
      <div class="change-password-dialog-form-field-1">
          <mat-form-field appearance="fill">
              <mat-label>Confirmar Contraseña</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput formControlName="confirmarClave" placeholder="Introduzca su confirmación">
              @if(claveFormGroup.get('confirmarClave')?.errors?.['required']) {
                  <mat-error class="change-password-dialog-error-1">Campo requerido.</mat-error>
              }
              @if(claveFormGroup.get('confirmarClave')?.errors?.['passwordMismatch']) {
                  <mat-error class="change-password-dialog-error-1">No coinciden.</mat-error>
              }
          </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf="data.notification != 3">
        <button class="change-password-dialog-button-2" mat-button [mat-dialog-close]="{usuario: data.user.usuario, clave: '', noNewPass: true}">Omitir por ahora</button>
    </ng-container>
    <button [disabled]="!claveFormGroup.valid" mat-raised-button [mat-dialog-close]="this.claveFormGroup.value">Cambiar contraseña</button>
  </mat-dialog-actions>
</div>