.menu-card-1 {
  height: 95%;
  margin-top: 15px;
  margin-left: 15px;
  justify-content: center;
  flex-direction: row;
}

.menu-logo-1 {
  height: 80px;
  width: 160px;
  align-items: center;
  margin-top: 10px;
}

.menu-container-flex-1 {
  display: flex;
  justify-content: center;
}

.menu-nav-1 {
  text-decoration: none;
}

.menu-nav-2 {
  margin-left: 36px;
}

.menu-active-1 {
  background-color: rgba($color: #f39323, $alpha: 0.1);
  color: var(--accent-color) !important;
}

mat-list-item.menu-active-1 {
  border-left: 4px solid #f39323;
}

a.menu-active-1 {
  background: none;
}

.menu-list-container-1 {
  margin-bottom: 20px;
  width: 100%;
}

.menu-button-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  & {
    mat-icon {
      margin-left: 8px;
      color: #fff;
    }
  }
}

.menu-container-flex-2 {
  display: flex;
  justify-content: center
}

.menu-icon-1 {
  height: 18px;
  width: 18px;
}

.menu-list-container-dynamic-1 {
  height: auto;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.menu-list-item-container-1 .mdc-list-item__secondary-text::before {
  height: 0;
  display: flex;
}