<div class="change-password-reset-container-2">
    <mat-card class="change-password-reset-card-1">
      <mat-card-content>
        <div class="change-password-reset-logo-container-1">
          <img class="change-password-reset-logo-1" src="../../../../assets/mediken-fo.svg" alt="mediken-logo">
        </div>
        <div class="change-password-reset-container-1"><p>Cambiar Contraseña</p></div>
        <form class="change-password-reset-form-container-1" [formGroup]="changePasswordResetForm">
          <!-- <mat-form-field class="change-password-reset-form-field-1">
            <mat-label>Usuario</mat-label>
            <input class="change-password-reset-input-1" formControlName="usuario" matInput placeholder="Ej. CÓDIGO" required>
          </mat-form-field> -->
          <div class="change-password-reset-form-field-1">
            <input class="change-password-reset-input-1" formControlName="nuevaClave" [type]="hide ? 'password' : 'text'" required placeholder="Contraseña">
            <button class="change-password-reset-password-icon-1" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
          <!-- <mat-form-field class="change-password-reset-form-field-1">
            <mat-label>Contraseña</mat-label>
            <input class="change-password-reset-input-1" formControlName="clave" matInput [type]="hide ? 'password' : 'text'" required placeholder="********">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field> -->
          <div class="change-password-reset-form-field-1">
            <input class="change-password-reset-input-1" formControlName="confirmarClave" [type]="hide ? 'password' : 'text'" required placeholder="Confirmar Contraseña">
          </div>
          <button class="change-password-reset-button-submit" mat-raised-button color="primary" (click)="changePasswordReset()"  [disabled]="!changePasswordResetForm.valid">Cambiar Contraseña</button>
          <br/>
        </form>
        <br/>
        <br/>
      </mat-card-content>
    </mat-card>
  </div>
  
  