<div class="change-password-reset-container-2">
    <mat-card class="change-password-reset-card-1">
      <mat-card-content>
        <div class="change-password-reset-logo-container-1">
          <img class="change-password-reset-logo-1" src="../../../../assets/mediken-fo.svg" alt="mediken-logo">
        </div>
        <div class="change-password-reset-container-1"><p>Cambiar Contraseña</p></div>
        <ng-container *ngIf="!changeResetPassError else error">
          <form class="change-password-reset-form-container-1" [formGroup]="changePasswordResetForm">
            <div class="change-password-reset-form-field-1">
              <mat-form-field appearance="fill" onchange="changePassworOnChange()">
                <mat-label>Contraseña</mat-label>
                <input formControlName="nuevaClave" [type]="hide ? 'password' : 'text'" matInput placeholder="Introduzca su contraseña" required>
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                @if(changePasswordResetForm.get('nuevaClave')?.errors?.['required']) {
                  <mat-error class="change-password-reset-error-1">La contraseña es requerida.</mat-error>
                }
                @if(changePasswordResetForm.get('nuevaClave')?.errors?.['lowercase']) {
                  <mat-error class="change-password-reset-error-1">Al menos una minúscula.</mat-error>
                }
                @if(changePasswordResetForm.get('nuevaClave')?.errors?.['uppercase']) {
                  <mat-error class="change-password-reset-error-1">Al menos una mayúscula.</mat-error>
                }
                @if(changePasswordResetForm.get('nuevaClave')?.errors?.['digit']) {
                  <mat-error class="change-password-reset-error-1">Al menos un número.</mat-error>
                }
                @if(changePasswordResetForm.get('nuevaClave')?.errors?.['special']) {
                  <mat-error class="change-password-reset-error-1">Un caracter de $&#64;$!%*?&,.</mat-error>
                }
                @if(changePasswordResetForm.get('nuevaClave')?.errors?.['minlength']) {
                  <mat-error class="change-password-reset-error-1">Mínimo 8 caracteres.</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="change-password-reset-form-field-1">
              <mat-form-field appearance="fill">
                <mat-label>Confirmar Contraseña</mat-label>
                <input formControlName="confirmarClave" [type]="hide ? 'password' : 'text'" matInput placeholder="Introduzca la confirmación" required>
                @if(changePasswordResetForm.get('confirmarClave')?.errors?.['required']) {
                  <mat-error class="first-login-error-1">Confirmación requerida.</mat-error>
                }
                @if(changePasswordResetForm.get('confirmarClave')?.errors?.['passwordMismatch']) {
                  <mat-error class="change-password-reset-error-1">No coinciden.</mat-error>
              }
              </mat-form-field>
            </div>
            <button class="change-password-reset-button-submit" mat-raised-button color="primary" (click)="changePasswordReset()"  [disabled]="!changePasswordResetForm.valid">Cambiar Contraseña</button>
            <br/>
          </form>
        </ng-container>
        <ng-template #error>
          <p class="change-password-reset-text-1">Hubo un error al cambiar la contraseña.</p>
          <div>
            <a class="change-password-reset-reset-pass-1" routerLink="../change-password-reset" (click)="changeResetPassError = true">¿Volver a intentar?</a><span class="change-password-reset-text-1"> o </span> <a class="change-password-reset-reset-pass-1" routerLink="../iniciar-sesion">¿Volver al login?</a>
          </div>
          <br/>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  
  