<mat-card class="login-card-1">
  <mat-card-content>
    <div class="login-logo-container-1">
      <img class="login-logo-1" src="../../../../assets/mediken-fo.svg" alt="mediken-logo">
    </div>
    <br/>
    <form class="login-form-container-1" [formGroup]="loginForm">
      <mat-form-field class="login-form-field-1">
        <mat-label>Usuario</mat-label>
        <input class="login-input-1" formControlName="usuario" matInput placeholder="Ej. CÓDIGO" required>
      </mat-form-field>
      <mat-form-field class="login-form-field-1">
        <mat-label>Contraseña</mat-label>
        <input class="login-input-1" formControlName="clave" matInput [type]="hide ? 'password' : 'text'" required placeholder="********">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button class="login-button-submit" mat-raised-button color="primary" (click)="login()"  [disabled]="!loginForm.valid">Iniciar Sesión</button>
    </form>
    <br/>
    <br/>
    <!-- <a href="">¿Olvidó su contraseña?</a> -->
  </mat-card-content>
</mat-card>

