<div class="login-container-2">
  <mat-card class="login-card-1">
    <mat-card-content>
      <div class="login-logo-container-1">
        <img class="login-logo-1" src="../../../../assets/mediken-fo.svg" alt="mediken-logo">
      </div>
      <div class="login-container-1"><p>Iniciar Sesión</p></div>
      <form class="login-form-container-1" [formGroup]="loginForm">
        <div class="login-form-field-1">
          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input formControlName="usuario" matInput placeholder="Introduzca su usuario" required>
            @if(loginForm.get('usuario')?.errors?.['required']) {
              <mat-error class="login-error-1">El usuario es requerido.</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="login-form-field-1">
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input formControlName="clave" [type]="hide ? 'password' : 'text'" matInput placeholder="Introduzca su contraseña" required>
            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            @if(loginForm.get('clave')?.errors?.['required']) {
              <mat-error class="login-error-1">La contraseña es requerida.</mat-error>
            }
          </mat-form-field>
        </div>
        <button class="login-button-submit" mat-raised-button color="primary" (click)="login()"  [disabled]="!loginForm.valid">Continuar</button>
        <br/>
        <div>
          <a class="login-reset-pass-1" routerLink="../reset-password">¿Olvidó su contraseña?</a>
        </div>
      </form>
      <br/>
      <br/>
    </mat-card-content>
  </mat-card>
</div>

