<div class="reset-password-container-2">
    <mat-card class="reset-password-card-1">
      <mat-card-content>
        <div class="reset-password-logo-container-1">
          <img class="reset-password-logo-1" src="../../../../assets/mediken-fo.svg" alt="mediken-logo">
        </div>
        <div class="reset-password-container-1"><p>Restablecer contraseña</p></div>
        <ng-container *ngIf="!resetError else error">
          <form class="reset-password-form-container-1" [formGroup]="resetPasswordForm">
            <div class="reset-password-form-field-1">
              <mat-form-field appearance="fill">
                <mat-label>Usuario o Email</mat-label>
                <input matInput formControlName="email" placeholder="Introduzca su email o usuario" required>
              </mat-form-field>
            </div>
            <button class="reset-password-button-submit" mat-raised-button color="primary" (click)="resetPassword()"  [disabled]="!resetPasswordForm.valid">Reestablecer</button>
          </form>
        </ng-container>
        <ng-template #error>
          <p class="reset-password-text-1">Hubo un error al enviar el correo electronico.</p>
          <div>
            <a class="reset-password-reset-pass-1" routerLink="../reset-password" (click)="resetError = false">¿Volver a intentar?</a><span class="reset-password-text-1"> o </span> <a class="reset-password-reset-pass-1" routerLink="../iniciar-sesion">¿Volver al login?</a>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>