<div class="reset-password-container-2">
    <mat-card class="reset-password-card-1">
      <mat-card-content>
        <div class="reset-password-logo-container-1">
          <img class="reset-password-logo-1" src="../../../../assets/mediken-fo.svg" alt="mediken-logo">
        </div>
        <div class="reset-password-container-1"><p>Restablecer contraseña</p></div>
        <form class="reset-password-form-container-1" [formGroup]="resetPasswordForm">
          <!-- <mat-form-field class="reset-password-form-field-1">
            <mat-label>Usuario</mat-label>
            <input class="reset-password-input-1" formControlName="usuario" matInput placeholder="Ej. CÓDIGO" required>
          </mat-form-field> -->
          <div class="reset-password-form-field-1">
            <input class="reset-password-input-1" formControlName="email" placeholder="Introduzca su email o usuario" required>
          </div>
          <button class="reset-password-button-submit" mat-raised-button color="primary" (click)="resetPassword()"  [disabled]="!resetPasswordForm.valid">Reestablecer</button>
        </form>
        <br/>
        <br/>
      </mat-card-content>
    </mat-card>
  </div>