<div class="search-container-1">
  <!-- <mat-form-field class="search-input-1" appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field> -->
  <span class="search-date-1">{{ currentDate | date: 'fullDate':"+0000":"es-EC" }}</span>
  <div class="search-container-flex-2">
    <img class="search-img-1" [src]="'../../../../../assets/user.png'" alt="">
    <p class="search-username-1">{{user.nombre}}</p>
    <ng-container *ngIf="user.email">
      <a class="search-email-1" (href)="user.email">{{user.email}}</a>
    </ng-container>
  </div>
</div>
