<div class="search-container-1">
  <!-- <mat-form-field class="search-input-1" appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field> -->
  <span class="search-date-1">{{ currentDate | date: 'fullDate':"-0500":"es-EC" }}</span>
  <div class="search-container-flex-1">
    <img class="search-img-1" [src]="user.img? user.img : '../../../../../assets/user.png'" alt="">
    <div class="search-container-flex-2">
      <p class="search-username-1">{{user.nombres}} {{user.apellidos}}</p>
      <ng-container *ngIf="user.email">
        <p class="search-email-1"><a (href)="user.email">{{user.email}}</a></p>
      </ng-container>
    </div>
  </div>
</div>
