<mat-card class="menu-card-1">
  <mat-card-content>
    <div class="menu-container-flex-1">
      <img class="menu-logo-1" src="../../../../assets/logo-generico.png" alt="logo-generico">
    </div>
    <mat-nav-list>
      <mat-list-item routerLink="./resumen" routerLinkActive="menu-active-1">
          <mat-icon matListItemIcon>receipt_long</mat-icon>
          <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Resumen</a>
      </mat-list-item>
      <mat-list-item routerLink="./convenios" routerLinkActive="menu-active-1">
          <mat-icon matListItemIcon>pie_chart</mat-icon>
          <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Convenios</a>
      </mat-list-item>
      <mat-list-item routerLink="./cobranzas" routerLinkActive="menu-active-1">
          <mat-icon matListItemIcon>payments</mat-icon>
          <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Cobranzas</a>
      </mat-list-item>
      <mat-list-item routerLink="./kpis" routerLinkActive="menu-active-1">
          <mat-icon matListItemIcon>donut_large</mat-icon>
          <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>KPIs</a>
      </mat-list-item>
      <mat-list-item routerLink="./brokers" routerLinkActive="menu-active-1">
          <mat-icon matListItemIcon>notifications</mat-icon>
          <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Brokers</a>
      </mat-list-item>
      <mat-list-item routerLink="./reembolsos" routerLinkActive="menu-active-1">
          <mat-icon matListItemIcon>currency_exchange</mat-icon>
          <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Reembolsos</a>
      </mat-list-item>
    </mat-nav-list>
    <div class="menu-container-flex-2">
      <img class="menu-img-1" [src]="profilePic || '../../../../../assets/user.png'" alt="">
      <p class="menu-username-1">{{profile?.displayName}}</p>
      <a class="menu-email-1" (href)="'mailto:' + profile?.mail">{{profile?.mail}}</a>
    </div>
  </mat-card-content>
</mat-card>
