<mat-card class="menu-card-1">
  <mat-card-content>
    <div class="menu-container-flex-1">
      <img class="menu-logo-1" src="../../../../assets/mediken-fc.svg" alt="mediken-logo">
    </div>
    <mat-nav-list class="menu-list-container-1">
      <ng-container *ngIf="mediken">
        <ng-container *ngIf="rolMediken == 'A' || rolMediken == 'G' || rolMediken == 'C'">
          <mat-list-item routerLink="./resumen" routerLinkActive="menu-active-1">
            <mat-icon matListItemIcon>receipt_long</mat-icon>
            <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Comercial</a>
          </mat-list-item>
        </ng-container>
        <!-- <mat-list-item routerLink="./convenios" routerLinkActive="menu-active-1">
            <mat-icon matListItemIcon>pie_chart</mat-icon>
            <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Convenios</a>
        </mat-list-item>
        <mat-list-item routerLink="./cobranzas" routerLinkActive="menu-active-1">
            <mat-icon matListItemIcon>payments</mat-icon>
            <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Cobranzas</a>
        </mat-list-item> -->
        <ng-container *ngIf="rolMediken == 'A' || rolMediken == 'G'">
          <mat-list-item routerLink="./kpis" routerLinkActive="menu-active-1">
            <mat-icon matListItemIcon>donut_large</mat-icon>
            <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>BSC</a>
          </mat-list-item>
        </ng-container>
        <ng-container *ngIf="rolMediken == 'A'">
          <mat-list-item routerLink="./brokers-mediken" routerLinkActive="menu-active-1">
            <mat-icon matListItemIcon>notifications</mat-icon>
            <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Brokers</a>
          </mat-list-item>
        </ng-container>
        <ng-container *ngIf="rolMediken == 'A' || rolMediken == 'R'">
          <mat-list-item routerLink="./reembolsos" routerLinkActive="menu-active-1">
            <mat-icon matListItemIcon>assignment_return</mat-icon>
            <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Reembolsos</a>
          </mat-list-item>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="broker">
        <mat-list-item routerLink="./brokers" routerLinkActive="menu-active-1">
            <mat-icon matListItemIcon>notifications</mat-icon>
            <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Brokers</a>
        </mat-list-item>
      </ng-container>
      <ng-container *ngIf="beneficiario">
        <mat-list-item routerLink="./beneficiario" routerLinkActive="menu-active-1">
          <mat-icon matListItemIcon>group</mat-icon>
          <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Beneficiario</a>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
    <div class="menu-container-flex-2">
      <button class="menu-button-1" (click)="logout()" color="warn" mat-raised-button>Cerrar Sesión<mat-icon [align]="'right'">logout</mat-icon></button>
    </div>
  </mat-card-content>
</mat-card>
