.login-card-1 {
  width: 33%;
  position: absolute;
  top: 25%;
  left: 33%;
  text-align: center;
}

.login-logo-1 {
  height: 50px;
  width: 150px;
}

.login-button-submit {
  width: 100%;
}

.login-form-field-1 {
  width: 100%;
}

.login-logo-container-1 {
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  .login-card-1 {
    width: 90%;
    left: 5%;
  }
  .login-form-field-1 {
    width: 100%;
  }
}
