.login-card-1 {
  width: 26.2%;
  position: absolute;
  top: 25%;
  left: 33%;
  text-align: center;
  background-color: rgba($color: #fff, $alpha: 0.1);
}

.login-container-1 {
  color: #fff;
  font-weight: bold;
}

.login-logo-1 {
  height: 90px;
  width: 180px;
  margin-top: 25px;
}

.login-button-submit {
  width: 80%;
}

.login-form-field-1 {
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}

.login-input-1 {
  border: none;
}

.login-logo-container-1 {
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  .login-card-1 {
    width: 90%;
    left: 5%;
  }
  .login-form-field-1 {
    width: 100%;
  }
}
