.menu-card-1 {
  height: 95%;
  width: 90%;
  margin-top: 15px;
  margin-left: 15px;
  justify-content: center;
  flex-direction: row;
}

.menu-logo-1 {
  height: 50px;
  width: 120px;
  align-items: center;
}

.menu-container-flex-1 {
  display: flex;
  justify-content: center;
  background-color: #347a9b;
}

.menu-nav-1 {
  text-decoration: none;
}

.menu-active-1 {
  background-color: var(--primary-color);
  color: var(--text-accent-darker-color) !important;
}

.menu-list-container-1 {
  margin-bottom: 20px;
  width: 15vw;
}

.menu-button-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  & {
    mat-icon {
      margin-left: 8px;
    }
  }
}

.menu-container-flex-2 {
  display: flex;
  justify-content: center
}
