@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@include mat.core();

$mat-primary-color: #53bdc6;
$mat-primary-lighter-color: #8ad8dd;
$mat-primary-darker-color: #3c797d;
$mat-accent-color: #f39323;
$mat-accent-lighter-color: #fbce88;
$mat-accent-darker-color: #e6741d;
$mat-warn-color: #c65d53;
$mat-warn-lighter-color: #d49a98;
$mat-warn-darker-color: #9a3c31;

// Light Theme Text
$dark-text: #ffffff;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

// Light bg
$light-background:    #0481a7;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#5c5b5c, 20%);
$dark-bg-alpha-4:     rgba(#5c5b5c, 0.04);
$dark-bg-alpha-12:    rgba(#5c5b5c, 0.12);

// Dark bg
$dark-background:     #5c5b5c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#0481a7, 0.04);
$light-bg-alpha-12:   rgba(#0481a7, 0.12);

$primary-palette: (
  50: #e1f6f7,
  100: #b6e7ea,
  200: #8ad8dd,
  300: #65c8d0,
  400: #53bcc6,
  500: #4cb1bd,
  600: #47a1ac,
  700: #418d93,
  800: #3c797d,
  900: #2f5655,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$accent-palette: (
  50: #fef3e2,
  100: #fce1b6,
  200: #fbce88,
  300: #f9ba59,
  400: #f8ab3a,
  500: #f79d26,
  600: #f39223,
  700: #ed831f,
  800: #e6741d,
  900: #db5d19,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$warn-palette: (
  50: #f8ebec,
  100: #eecccf,
  200: #d49a98,
  300: #c17672,
  400: #c65d53,
  500: #c7523e,
  600: #b84a3c,
  700: #a74236,
  800: #9a3c31,
  900: #8c3326,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$fontConfig: mat.define-typography-config(
  $font-family: 'Poppins, sans-serif',
  $headline-1: mat.define-typography-level(
    $font-size: 93px,
    $line-height: 93px,
    $font-weight: 300,
    $letter-spacing: -1.5px,
  ),
  $headline-2: mat.define-typography-level(
    $font-size: 58px,
    $line-height: 58px,
    $font-weight: 300,
    $letter-spacing: -0.5px,
  ),
  $headline-3: mat.define-typography-level(
    $font-size: 47px,
    $line-height: 50px,
    $font-weight: 400,
    $letter-spacing: 0px,
  ),
  $headline-4: mat.define-typography-level(
    $font-size: 33px,
    $line-height: 39px,
    $font-weight: 400,
    $letter-spacing: 0.25px,
  ),
  $headline-5: mat.define-typography-level(
    $font-size: 23px,
    $line-height: 31px,
    $font-weight: 400,
    $letter-spacing: 0,
  ),
  $headline-6: mat.define-typography-level(
    $font-size: 20px,
    $line-height: 32px,
    $font-weight: 500,
    $letter-spacing: 0.15px,
  ),
  $subtitle-1: mat.define-typography-level(
    $font-size: 16px,
    $line-height: 28px,
    $font-weight: 400,
    $letter-spacing: 0.15px,
  ),
  $subtitle-2: mat.define-typography-level(
    $font-size: 14px,
    $line-height: 24px,
    $font-weight: 500,
    $letter-spacing: 0.1px,
  ),
  $body-1: mat.define-typography-level(
    $font-size: 16px,
    $line-height: 24px,
    $font-weight: 400,
    $letter-spacing: 0.50px,
  ),
  $body-2: mat.define-typography-level(
    $font-size: 14px,
    $line-height: 20px,
    $font-weight: 400,
    $letter-spacing: 0.25px,
  ),
  $button: mat.define-typography-level(
    $font-size: 14px,
    $line-height: 14px,
    $font-weight: 500,
    $letter-spacing: 1.25px 
  ),
  $caption: mat.define-typography-level(
    $font-size: 12px,
    $line-height: 20px,
    $font-weight: 400,
    $letter-spacing: 0.40px 
  ),
  $overline: mat.define-typography-level(
    $font-size: 10px,
    $line-height: 14px,
    $font-weight: 400,
    $letter-spacing: 1.5px  
  )
);

// Foreground Elements

$light-theme-foreground-palette: (
  base:              #fff,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         #fff,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              #5c5b5c,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);


$dark-theme-foreground-palette: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config

$light-theme-background-palette: (
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  background:               $light-background,
  hover:                    $dark-bg-alpha-4,
  card:                     #fff,
  dialog:                   $light-bg-lighter-5,
  disabled-button:          var(--accent-color),
  raised-button:            var(--accent-color),
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
  tooltip:                  $dark-bg-tooltip,
);

// Background palette for dark themes.
$dark-theme-background-palette: (
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  background:               $dark-background,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
  tooltip:                  $dark-bg-lighter-20,
);

$mat-primary: (
  main: var(--primary-color),
  lighter: var(--primary-lighter-color),
  darker: var(--primary-darker-color),
  200: #53bdc6, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);

$mat-accent: (
  main: var(--accent-color),
  lighter: var(--accent-lighter-color),
  darker: var(--accent-darker-color),
  200: #53bdc6, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);

$mat-warn: (
  main: var(--warn-color),
  lighter: var(--warn-lighter-color),
  darker: var(--warn-darker-color),
  200: #53bdc6, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $light-theme-foreground-palette,
  background: $light-theme-background-palette,
  typography: $fontConfig,
  density: 0,
);

$altTheme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $dark-theme-foreground-palette,
  background: $dark-theme-background-palette,
);

@include mat.all-component-themes($theme);

.theme-alternate {
  @include mat.all-component-colors($altTheme);
}

html {
  --primary-color: #{$mat-primary-color};
  --primary-lighter-color: #{$mat-primary-lighter-color};
  --primary-darker-color: #{$mat-primary-darker-color};
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
  --accent-color: #{$mat-accent-color};
  --accent-lighter-color: #{$mat-accent-lighter-color};
  --accent-darker-color: #{$mat-accent-darker-color};
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
  --warn-color: #{$mat-warn-color};
  --warn-lighter-color: #{$mat-warn-lighter-color};
  --warn-darker-color: #{$mat-warn-darker-color};
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
  --mdc-filled-text-field-label-text-size: 15px;
  --mdc-filled-text-field-error-label-text-color: #{$mat-warn-color};
  --mdc-filled-text-field-label-text-color: #5c5b5c;
  --mdc-filled-text-field-container-color: #{$dark-primary-text};
  --mat-form-field-container-height: 40px;
  --mat-form-field-trailing-icon-color: #{$mat-accent-color};
  --mat-form-field-filled-with-label-container-padding-top: 10px;
  --mdc-elevated-card-container-color: #fff;
  --mat-form-field-error-trailing-icon-color: #{$mat-warn-color};
  --mdc-protected-button-disabled-label-text-color: #5c5b5c;
  --mdc-protected-button-label-text-color: #fff;
  --mat-stepper-header-edit-state-icon-background-color: #{$mat-accent-color};
  --mat-stepper-header-selected-state-icon-background-color: #{$mat-accent-color};
  --mat-stepper-header-icon-background-color: #{$mat-accent-darker-color};
  --mat-stepper-header-done-state-icon-background-color: #{$mat-primary-lighter-color};
  --mat-stepper-header-selected-state-label-text-color: #{$dark-primary-text};
  --mdc-text-button-label-text-color: #{$mat-accent-color};
  --mat-stepper-header-label-text-color: #{$dark-primary-text};
  --mat-menu-container-color: #{$mat-accent-color};
  --mat-menu-item-hover-state-layer-color: #{$mat-accent-darker-color};
  --mdc-tab-indicator-active-indicator-color: #{$mat-accent-color};
  --mat-tab-header-active-label-text-color: #fff;
  --mdc-filled-text-field-disabled-container-color: #ffffff5e;
  --mat-menu-item-label-text-color: #fff;
  --mdc-protected-button-disabled-container-color: #{$mat-accent-darker-color};
  --mat-option-selected-state-layer-color: #{$mat-primary-color};
  --mat-option-focus-state-layer-color: #{mat-primary-darker-color};
  --mat-select-panel-background-color: #{$mat-primary-darker-color};
  --mat-option-label-text-color: #{$dark-primary-text};
}
.mat-typography {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  color: #5c5b5c;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Poppins';
  }
}

.mat-drawer-container {
  background: linear-gradient(90deg, #0481a7, #53bdc6);
  color: #5c5b5c;
}

.mat-drawer {
  color: #5c5b5c;
}

iframe {
  border: none;
}

button {
  font-family: Poppins, sans-serif;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: $mat-accent-color !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #5c5b5c;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $mat-warn-color;
}

.mat-mdc-card {
  border-radius: 8px !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #5c5b5c;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.mat-mdc-nav-list {
  font-size: 13px;
  font-weight: 600;
}

.menu-active-1 .mdc-list-item__start {
  color: var(--accent-color) !important;
}

.mdc-list-item__start {
  color: #5c5b5c !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff !important;
}

.mdc-text-field {
  border-radius: 20px !important;
}

.mat-mdc-icon-button {
  color: var(--accent-color) !important;
}

.mat-mdc-card-content {
  width: 100% !important;
  padding: 0 !important;
}

:focus-visible {
  outline: none;
}

/* .mdc-list-item__content {
  margin-left: 10px;
} */

.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start {
  margin-left: 15px;
}

mat-list-item.menu-mat-list-item-2 .mdc-list-item__content {
  height: 25px !important;
}

.search-container-flex-3 .mdc-list-item__start {
  color: #989898 !important;
}

.mat-mdc-tab-body-content {
  height: 50vh !important;
}

.first-login-stepper-1 .mat-horizontal-stepper-header-container {
  margin-top: 30px;
}

.menu-list-item-container-1 .mdc-list-item__secondary-text::before {
  height: 12px;
  display: flex;
}